<% provide(:title, "Help") %>
<h1>For those in dire need of help</h1>
    <p>
        Go to <a href= "https://rails-tutorial-jonmchu.c9.io">Rails Tutorial help section</a>
    </p>
    <p>
        For help on this sample app, see the
        <a href=" https://rails-tutorial-jonmchu.c9.io"><em> Ruby on Rails Tutorial</em> book</a>
    </p>


